// SLIDEVIEW
.slideView {
    animation: slideView 1.5s ease-in-out both;
    animation-delay: 3s;
}

@keyframes slideView {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    70% {
        transform: translateY(-8px);
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}


// UNBLUR

.unBlur {
    animation: unblur 2s ease-in-out both;
    animation-delay: 1s;
}

@keyframes unblur {
    0% {
        backdrop-filter: blur(10px);
        background-color: #00000090;
    }

    70% {
        opacity: 1;
    }

    100% {
        backdrop-filter: blur(0px);
        background-color: transparent;
        opacity: 0;
    }
}