@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Boldonse&family=Climate+Crisis&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Text:ital@0;1&family=Dela+Gothic+One&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Geist:wght@100..900&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Questrial&family=Space+Grotesk:wght@300..700&family=Special+Gothic+Expanded+One&family=Syne:wght@400..800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-rounded/css/uicons-bold-rounded.css");
@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-brands/css/uicons-brands.css");
.slideView {
  animation: slideView 1.5s ease-in-out both;
  animation-delay: 3s;
}

@keyframes slideView {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  70% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.unBlur {
  animation: unblur 2s ease-in-out both;
  animation-delay: 1s;
}

@keyframes unblur {
  0% {
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.5647058824);
  }
  70% {
    opacity: 1;
  }
  100% {
    backdrop-filter: blur(0px);
    background-color: transparent;
    opacity: 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.alert {
  bottom: 3rem;
  left: 50%;
  color: #000;
  position: fixed;
  font-size: 0.8rem;
  font-weight: 500;
  user-select: none;
  padding: 0.8rem 2rem;
  border-radius: 0.5rem;
  background-color: #fff;
  transform: translateX(-50%) translateY(0%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3137254902);
  opacity: 1;
  display: block;
  z-index: 100;
}
.alert-slide {
  animation: slide 4s ease-in-out;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(100%);
  }
  5% {
    opacity: 1;
    transform: translateX(-50%) translateY(0%);
  }
  95% {
    opacity: 1;
    transform: translateX(-50%) translateY(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(100%);
  }
}
.debug {
  border: 1px solid greenyellow;
}

::selection {
  background-color: #ff4040;
  color: #111;
}

::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background-color: #080808;
}
::-webkit-scrollbar-thumb {
  background-color: #777;
}

html {
  will-change: transform opacity;
  scroll-behavior: smooth;
  overflow-x: hidden;
  cursor: crosshair;
}

body {
  color: #eee;
  width: 100%;
  min-width: 320px;
  overflow-x: hidden;
  font-family: "Geist", sans-serif;
  background-color: #0e0606;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
body h2 {
  padding: 0.5rem;
}

.translate {
  color: #eee;
  background: #111;
  font-size: 1.2rem;
  border-radius: 2rem;
  padding: 0.5rem;
}
.translate-trigger {
  z-index: 50;
}
.translate i {
  top: 3px;
  right: 3px;
  position: relative;
}
.translate img {
  width: 1.2rem;
}

.splash {
  width: 100%;
  height: 100vh;
  z-index: 900;
}
.splash img {
  width: 44px;
}

.section-title {
  font-family: "Inter", serif;
  font-weight: 600;
  color: transparent;
  background: #fafafa;
  background: linear-gradient(180deg, #fafafa 50%, #ff6363 100%);
  background-clip: text;
  -webkit-background-clip: text;
}

.container {
  width: 100%;
  min-height: 100vh;
  padding: 0 1.2rem;
  margin: 0 auto;
}

.navbar {
  gap: 3rem;
  display: flex;
  padding: 0.8rem 0;
  align-items: center;
  justify-content: center;
  mix-blend-mode: difference;
  position: sticky;
  z-index: 90;
  top: 0;
}
.navbar-logo {
  width: 30px;
}
.navbar-logo img {
  width: 100%;
}
.navbar-links {
  gap: 3rem;
  display: flex;
}
.navbar-links a {
  transition: all 0.2s ease;
  text-decoration: none;
  font-size: 0.8rem;
  color: #999;
}
.navbar-links a:hover {
  color: #eee;
}
@media screen and (max-width: 30rem) {
  .navbar-links {
    display: none;
  }
}

.hero .explore {
  gap: 1rem;
  display: flex;
  padding: 0.5rem 0;
  width: fit-content;
  transition: all 0.3s ease-in-out;
}
.hero .explore:hover {
  gap: 2rem;
}
.hero-text {
  font-family: "Inter", serif;
}
.hero-image {
  width: 50%;
}
.hero-image img {
  width: 100%;
  user-select: none;
}
.hero-bg-point {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background-color: #ff4040;
  position: relative;
  z-index: -10;
  box-shadow: 0 0 100px 90px #ff4040;
  filter: blur(70px);
  filter: blur(100px);
  bottom: 60px;
  left: 42%;
}
@media screen and (max-width: 40rem) {
  .hero-bg-point {
    box-shadow: 0 0 5px 40px #ff4040;
    filter: blur(40px);
    bottom: -120px;
    left: 0;
  }
}

.knowledge {
  display: flex;
  flex-direction: column;
  padding: 4rem 0;
  gap: 2rem;
}
.knowledge-container {
  user-select: none;
  width: 100%;
}
.knowledge-item {
  gap: 0.5rem;
  width: 150px;
  display: flex;
  height: 100px;
  padding: 1.2rem;
  min-width: 120px;
  overflow: hidden;
  border-radius: 0.8rem;
  border: 1px solid rgba(255, 255, 255, 0.1882352941);
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.031372549);
  transition: all 0.2s ease-in-out;
}
.knowledge-item img {
  width: 32px;
  border-radius: 4px;
}
.knowledge-item:hover {
  border-color: #ff4040;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 155, 155, 0.0666666667);
  filter: drop-shadow(0 0 0.3rem #ff4040);
}
.knowledge-bg-point {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background-color: #ff4040;
  position: relative;
  z-index: -10;
  box-shadow: 0 0 100px 90px #ff4040;
  filter: blur(70px);
  filter: blur(110px);
  right: -850px;
  top: 0;
}

.projects {
  display: flex;
  flex-direction: column;
  padding: 6rem 0;
}
.projects h2 {
  padding: 0 2rem;
}
.projects-container {
  padding: 1rem;
  margin-top: 1.5rem;
  scrollbar-width: none;
}
@media (width > 1024px) {
  .projects-container::-webkit-scrollbar {
    width: 10px;
  }
  .projects-container::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.0196078431);
  }
  .projects-container::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.062745098);
  }
}
.projects-bg-point {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background-color: #ff4040;
  position: relative;
  z-index: -10;
  box-shadow: 0 0 100px 90px #ff4040;
  filter: blur(70px);
  filter: blur(100px);
  left: 440px;
  top: 260px;
}

.project {
  display: flex;
  min-width: 300px;
  max-width: 320px;
  user-select: none;
  position: relative;
  border-radius: 1.5rem;
  flex-direction: column;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.031372549);
  justify-content: space-between;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1254901961);
}
.project {
  background: linear-gradient(160deg, #000 30%, rgba(255, 255, 255, 0.031372549) 100%);
}
.project-tag {
  z-index: 5;
  top: -0.4rem;
  right: -0.5rem;
  font-size: 0.7rem;
  border-radius: 0.2rem;
  padding: 0.3rem 0.5rem;
}
.project-data {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.project .data-container {
  position: relative;
}
.project-go {
  padding: 1rem 1rem;
}
.project-go a {
  transition: all 0.2s ease-in-out;
  width: fit-content;
  display: flex;
  gap: 1rem;
}
.project-go a:hover {
  gap: 2rem;
}
.project:hover .project-image img {
  scale: 1.15;
}
.project-image {
  width: 100%;
  height: 220px;
  overflow: hidden;
  mask-image: linear-gradient(to bottom, #000 20%, transparent 100%);
  border-radius: 1rem 1rem 0 0;
}
.project-image img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  transition: all 0.3s ease-in-out;
  position: relative;
  top: -40px;
}

.experience {
  padding: 6rem 0;
}
.experience-container {
  max-width: 800px;
  border: 1px solid rgba(255, 255, 255, 0.1254901961);
  border-radius: 2rem;
  padding: 2rem;
}
.experience-timeline {
  border-left: 2px solid #ff4040;
  padding-left: 2rem;
}
.experience-item::before {
  content: "";
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  background-color: #eee;
  position: absolute;
  left: -11px;
}

.socials {
  padding: 6rem 0;
}
.socials-container a {
  color: #eee;
  padding: 1rem;
  line-height: 0;
  font-size: 3.5rem;
  transition: translate 0.2s ease, color 0.2s ease;
}
@media screen and (max-width: 30rem) {
  .socials-container a {
    padding: 0.5rem;
  }
}
.socials-container a:hover {
  filter: drop-shadow(0 0 0.5rem #ff4040);
  translate: 0 -0.3rem;
  color: #ff4040;
}

.footer {
  padding: 2rem;
  gap: 2rem;
}
.footer a, .footer i {
  color: #999;
  transition: all 0.2s ease;
}
.footer a:hover, .footer i:hover {
  color: #eee;
}

/*# sourceMappingURL=style.css.map */
