@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Boldonse&family=Climate+Crisis&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Text:ital@0;1&family=Dela+Gothic+One&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Geist:wght@100..900&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Questrial&family=Space+Grotesk:wght@300..700&family=Special+Gothic+Expanded+One&family=Syne:wght@400..800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-brands/css/uicons-brands.css");
.unBlur {
  animation: unblur 2s ease-in-out both;
  animation-delay: 1s;
}

@keyframes unblur {
  0% {
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.5647058824);
  }
  70% {
    opacity: 1;
  }
  100% {
    backdrop-filter: blur(0px);
    background-color: transparent;
    opacity: 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: #ff4040;
  color: #111;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Geist", sans-serif;
  background-color: #0e0606;
  color: #eee;
}

.splash {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.splash img {
  width: 80px;
}

.container {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 1rem;
}
.container .section-title {
  font-family: "Inter", serif;
  font-weight: 600;
  color: transparent;
  background: #fafafa;
  background: linear-gradient(180deg, #fafafa 70%, #ff8080 100%);
  background-clip: text;
  -webkit-background-clip: text;
}

.navbar {
  gap: 3rem;
  padding: 0.8rem 0;
  background-color: rgba(0, 0, 0, 0.3137254902);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1882352941);
  backdrop-filter: blur(10px);
}
.navbar-logo {
  width: 30px;
}
.navbar-logo img {
  width: 100%;
}
.navbar-links {
  gap: 3rem;
  display: flex;
}
.navbar-links a {
  transition: all 0.2s ease;
  text-decoration: none;
  font-size: 0.8rem;
  color: #999;
}
.navbar-links a:hover {
  color: #eee;
}

.hero .explore {
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;
  gap: 1rem;
}
.hero .explore:hover {
  gap: 2rem;
}
.hero-text {
  font-family: "Inter", serif;
}
.hero-image img {
  user-select: none;
}
.hero-bg-point {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background-color: #ff4040;
  position: relative;
  z-index: -10;
  box-shadow: 0 0 100px 90px #ff4040;
  filter: blur(70px);
  filter: blur(80px);
  bottom: 50px;
  left: 80px;
}
@media screen and (max-width: 768px) {
  .hero .hero-bg-point {
    filter: blur(40px);
    bottom: -120px;
    left: -40px;
  }
}

.knowledge {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 6rem 0;
  width: 100%;
}
.knowledge-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.knowledge-item {
  width: 100%;
  gap: 0.5rem;
  padding: 1rem;
  display: flex;
  background-color: rgba(255, 255, 255, 0.0352941176);
  flex-direction: column;
  border: 2px solid rgba(255, 255, 255, 0.1882352941);
  border-radius: 0.8rem;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}
.knowledge-item img {
  width: 32px;
  border-radius: 4px;
}
.knowledge-item:hover {
  border-color: #ff4040;
  background-color: rgba(255, 155, 155, 0.0666666667);
  backdrop-filter: blur(10px);
}
.knowledge-bg-point {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background-color: #ff4040;
  position: relative;
  z-index: -10;
  box-shadow: 0 0 100px 90px #ff4040;
  filter: blur(70px);
  filter: blur(120px);
  top: 140px;
}

.projects {
  display: flex;
  flex-direction: column;
  padding: 8rem 0;
}
.projects-container {
  margin-top: 1.5rem;
  align-items: stretch;
  justify-content: space-between;
}
.projects-bg-point {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background-color: #ff4040;
  position: relative;
  z-index: -10;
  box-shadow: 0 0 100px 90px #ff4040;
  filter: blur(70px);
  filter: blur(100px);
  left: 440px;
  top: 260px;
}

.project {
  width: 320px;
  display: flex;
  overflow: hidden;
  border-radius: 1rem;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.031372549);
  position: relative;
}
.project-data {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.project .data-container {
  position: relative;
}
.project-go {
  padding: 1rem 1rem;
}
.project-go a {
  transition: all 0.2s ease-in-out;
  width: fit-content;
  display: flex;
  gap: 1rem;
}
.project-go a:hover {
  gap: 2rem;
}
.project-image {
  width: 100%;
}
.project-image img {
  width: 100%;
  transition: all 0.2s ease-in-out;
}

.socials {
  padding-top: 2rem;
  padding-bottom: 6rem;
}
.socials h2 {
  padding: 0.5rem;
}
.socials-box {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 3rem;
  border: 2px solid rgba(255, 255, 255, 0.2509803922);
  border-radius: 4rem;
}
.socials-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.socials-container a {
  top: 4px;
  position: relative;
  font-size: 2rem;
}

.footer {
  padding: 0 2rem;
}
.footer a, .footer i {
  color: #eee;
  transition: all 0.2s ease;
}
.footer a:hover, .footer i:hover {
  color: #ff4040;
}

/*# sourceMappingURL=style.css.map */
