@use 'animations';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// IMPORTS
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Boldonse&family=Climate+Crisis&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Text:ital@0;1&family=Dela+Gothic+One&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Geist:wght@100..900&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Questrial&family=Space+Grotesk:wght@300..700&family=Special+Gothic+Expanded+One&family=Syne:wght@400..800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-brands/css/uicons-brands.css');
// END IMPORTS


// FONTS
$inter: "Inter", serif;
$geist: "Geist", sans-serif;
$boldonse: "Boldonse", system-ui;
// END FONTS


// COLORS
$bl: #111;
$wh: #eee;
$sg: #999;
$pr: #ff4040;
$bg: #0e0606;
$sb: #080808;
$dg: #ffffff30;
// END COLORS

// MIXIN BG POINT
@mixin bgPoint {
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background-color: $pr;
    position: relative;
    z-index: -10;

    box-shadow: 0 0 100px 90px $pr;
    filter: blur(70px);
}
// BG POINT

::selection {
    background-color: $pr;
    color: $bl;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
    font-family: $geist;
    background-color: $bg;
    color: $wh;
}

.splash {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;

    // display: none;

    img {
        width: 80px;
    }
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 0 1.5rem;
    margin: 0 auto;

    .section-title {
        font-family: $inter;
        font-weight: 600;
        color: transparent;
        background: #fafafa;
        background: linear-gradient(180deg, #fafafa 70%, #ff8080 100%);
        background-clip: text;
        -webkit-background-clip: text;
    }
}

.navbar {
    gap: 3rem;
    padding: .8rem 0;
    background-color: #00000050;
    border-bottom: 1px solid $dg;
    backdrop-filter: blur(10px);

    &-logo {
        width: 30px;

        img {
            width: 100%;
        }
    }

    &-links {
        gap: 3rem;
        display: flex;

        a {
            transition: all .2s ease;
            text-decoration: none;
            font-size: .8rem;
            color: $sg;

            &:hover {
                color: $wh;
            }
        }
    }
}

.hero {
    .explore {
        width: fit-content;
        padding: .5rem 0;
        display: flex;
        transition: all .3s ease-in-out;
        gap: 1rem;

        &:hover {
            gap: 2rem;
        }
    }
    &-text {
        font-family: $inter;
    }

    &-image {
        img {
            user-select: none;
        }
    }

    &-bg-point {
        @include bgPoint;
        filter: blur(80px);
        bottom: 50px;
        left: 80px;
    }
}

.knowledge {
    display: flex;
    flex-direction: column;
    padding: 6rem 0;
    gap: 2rem;

    &-container {
        width: 100%;
    }
    
    &-item {
        gap: .5rem;
        padding: 1rem;
        display: flex;
        background-color: #ffffff09;
        flex-direction: column;
        border: 2px solid $dg;
        border-radius: .8rem;
        overflow: hidden;

        transition: all .2s ease-in-out;

        img {
            width: 32px;
            border-radius: 4px;
        }

        &:hover {
            border-color: $pr;
            background-color: #ff9b9b11;
            backdrop-filter: blur(10px);
        }
    }

    &-bg-point {
        @include bgPoint;
        filter: blur(120px);
        top: 140px;
    }
}

.projects {
    display: flex;
    flex-direction: column;
    padding: 8rem 0;

    &-container {
        margin-top: 1.5rem;
        align-items: stretch;
        justify-content: space-between;

        // lg = 1024px (64rem)
        @media screen and (max-width: 64rem) {
            justify-content: center;
        }
    }

    &-bg-point {
        @include bgPoint;
        filter: blur(100px);
        left: 440px;
        top: 260px;
    }
}

.project {
    min-width: 300px;
    max-width: 320px;
    display: flex;
    overflow: hidden;
    border-radius: 1rem;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff08;
    position: relative;
    
    &-data {
        padding: 1.5rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    }

    .data-container {
        position: relative;
    }

    &-go {
        padding: 1rem 1rem;

        a {
            transition: all .2s ease-in-out;
            width: fit-content;
            display: flex;
            gap: 1rem;

            &:hover {
                gap: 2rem;
            }
        }
    }

    &-image {
        width: 100%;

        img {
            width: 100%;
            transition: all .2s ease-in-out;
        }
    }
}

.socials {
    padding: 6rem 0;

    h2 {
        padding: .5rem;
    }

    &-box {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 2rem 3rem;
    
        border: 2px solid #ffffff40;
        border-radius: 4rem;
    }

    &-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        a {
            top: 4px;
            position: relative;
            font-size: 2rem;
        }
    }
}

.footer {
    padding: 0 2rem;
    gap: 1rem;

    // md = 768px (48rem)
    @media screen and (max-width: 48rem) {
        padding: 2rem 1rem;
    }

    a, i {
        color: $wh;
        transition: all .2s ease;

        &:hover {
            color: $pr;
        }
    }
}