@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Boldonse&family=Climate+Crisis&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Text:ital@0;1&family=Dela+Gothic+One&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Geist:wght@100..900&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Questrial&family=Space+Grotesk:wght@300..700&family=Special+Gothic+Expanded+One&family=Syne:wght@400..800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-brands/css/uicons-brands.css");
.slideView {
  animation: slideView 1.5s ease-in-out both;
  animation-delay: 3s;
}

@keyframes slideView {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  70% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.unBlur {
  animation: unblur 2s ease-in-out both;
  animation-delay: 1s;
}

@keyframes unblur {
  0% {
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.5647058824);
  }
  70% {
    opacity: 1;
  }
  100% {
    backdrop-filter: blur(0px);
    background-color: transparent;
    opacity: 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.alert {
  user-select: none;
  position: fixed;
  bottom: 3rem;
  left: 50%;
  color: #000;
  font-size: 0.9rem;
  padding: 0.8rem 2rem;
  border-radius: 0.5rem;
  background-color: #fff;
  transform: translateX(-50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3137254902);
  display: none;
  z-index: 100;
}
.alert-slide {
  animation: slide 4s ease-in-out;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(100%);
  }
  5% {
    opacity: 1;
    transform: translateX(-50%) translateY(0%);
  }
  95% {
    opacity: 1;
    transform: translateX(-50%) translateY(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(100%);
  }
}
::selection {
  background-color: #ff4040;
  color: #111;
}

::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background-color: #080808;
}
::-webkit-scrollbar-thumb {
  background-color: #777;
}

html {
  will-change: transform, opacity;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  color: #eee;
  width: 100%;
  font-family: "Geist", sans-serif;
  background-color: #0e0606;
  overflow-x: hidden;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  min-height: 100dvh;
}

.splash {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.splash img {
  width: 100px;
}

.container {
  width: 100%;
  min-height: 100vh;
  padding: 0 1.5rem;
  margin: 0 auto;
}
.container .section-title {
  font-family: "Inter", serif;
  font-weight: 600;
  color: transparent;
  background: #fafafa;
  background: linear-gradient(180deg, #fafafa 70%, #ff8080 100%);
  background-clip: text;
  -webkit-background-clip: text;
}

.navbar {
  gap: 3rem;
  display: flex;
  padding: 0.8rem 0;
  align-items: center;
  justify-content: center;
  mix-blend-mode: difference;
  position: sticky;
  z-index: 90;
  top: 0;
}
.navbar-logo {
  width: 30px;
}
.navbar-logo img {
  width: 100%;
}
.navbar-links {
  gap: 3rem;
  display: flex;
}
.navbar-links a {
  transition: all 0.2s ease;
  text-decoration: none;
  font-size: 0.8rem;
  color: #999;
}
.navbar-links a:hover {
  color: #eee;
}
@media screen and (max-width: 30rem) {
  .navbar-links {
    display: none;
  }
}

.hero .explore {
  gap: 1rem;
  display: flex;
  padding: 0.5rem 0;
  width: fit-content;
  transition: all 0.3s ease-in-out;
}
.hero .explore:hover {
  gap: 2rem;
}
.hero-text {
  font-family: "Inter", serif;
}
.hero-image {
  width: 50%;
}
.hero-image img {
  width: 100%;
  user-select: none;
}
.hero-bg-point {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background-color: #ff4040;
  position: relative;
  z-index: -10;
  box-shadow: 0 0 100px 90px #ff4040;
  filter: blur(70px);
  filter: blur(80px);
  bottom: 50px;
  left: 80px;
}
@media screen and (max-width: 40rem) {
  .hero-bg-point {
    box-shadow: 0 0 5px 40px #ff4040;
    filter: blur(40px);
    bottom: -120px;
    left: 0;
  }
}

.knowledge {
  display: flex;
  flex-direction: column;
  padding: 4rem 0;
  gap: 2rem;
}
.knowledge-container {
  user-select: none;
  width: 100%;
}
.knowledge-item {
  gap: 0.5rem;
  padding: 1rem;
  display: flex;
  background-color: rgba(255, 255, 255, 0.0352941176);
  flex-direction: column;
  border: 2px solid rgba(255, 255, 255, 0.1882352941);
  border-radius: 0.8rem;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}
.knowledge-item img {
  width: 32px;
  border-radius: 4px;
}
.knowledge-item:hover {
  border-color: #ff4040;
  background-color: rgba(255, 155, 155, 0.0666666667);
  backdrop-filter: blur(10px);
}
.knowledge-bg-point {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background-color: #ff4040;
  position: relative;
  z-index: -10;
  box-shadow: 0 0 100px 90px #ff4040;
  filter: blur(70px);
  filter: blur(110px);
  right: -850px;
  top: 0;
}

.projects {
  display: flex;
  flex-direction: column;
  padding: 8rem 0;
}
.projects-container {
  margin-top: 1.5rem;
  align-items: stretch;
  justify-content: space-between;
}
@media screen and (max-width: 64rem) {
  .projects-container {
    justify-content: center;
  }
}
.projects-bg-point {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background-color: #ff4040;
  position: relative;
  z-index: -10;
  box-shadow: 0 0 100px 90px #ff4040;
  filter: blur(70px);
  filter: blur(100px);
  left: 440px;
  top: 260px;
}

.project {
  min-width: 300px;
  max-width: 320px;
  display: flex;
  overflow: hidden;
  border-radius: 1rem;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.031372549);
  position: relative;
}
.project-data {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.project .data-container {
  position: relative;
}
.project-go {
  padding: 1rem 1rem;
}
.project-go a {
  transition: all 0.2s ease-in-out;
  width: fit-content;
  display: flex;
  gap: 1rem;
}
.project-go a:hover {
  gap: 2rem;
}
.project-image {
  width: 100%;
}
.project-image img {
  width: 100%;
  transition: all 0.2s ease-in-out;
}

.socials {
  padding: 6rem 0;
}
.socials h2 {
  padding: 0.5rem;
}
.socials-box {
  padding: 0 1.5rem;
  border: 2px solid rgba(255, 255, 255, 0.2509803922);
  border-radius: 4rem;
  transition: all 0.2s ease-in-out;
}
.socials-box:hover {
  border-color: #ff4040;
  box-shadow: 0 0 10px #ff4040;
  background-color: rgba(255, 64, 64, 0.062745098);
}
.socials-container a {
  color: #eee;
  padding: 1.5rem;
  line-height: 0;
  font-size: 3.5rem;
  transition: all 0.2s ease;
}
@media screen and (max-width: 30rem) {
  .socials-container a {
    top: 0;
  }
}
.socials-container a:hover {
  translate: 0 -0.3rem;
  color: #ff4040;
}

.footer {
  padding: 2rem;
  gap: 2rem;
}
.footer a, .footer i {
  color: #999;
  transition: all 0.2s ease;
}
.footer a:hover, .footer i:hover {
  color: #eee;
}

/*# sourceMappingURL=style.css.map */
